<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ELAPID_jsp_project</display-name>
  <servlet>
    <description>
  	</description>
    <display-name>EController</display-name>
    <servlet-name>EController</servlet-name>
    <servlet-class>com.elapid.controller.EController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EController</servlet-name>
    <url-pattern>/EController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SAD</display-name>
    <servlet-name>SAD</servlet-name>
    <servlet-class>com.elapid.controller.SAD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAD</servlet-name>
    <url-pattern>/SAD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kteEController</display-name>
    <servlet-name>kteEController</servlet-name>
    <servlet-class>com.elapid.controller.kteEController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kteEController</servlet-name>
    <url-pattern>/kteEController</url-pattern>
  </servlet-mapping>
</web-app>